@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
html{
  height: 100vh;
}
body{
  background:linear-gradient(225deg, rgb(63, 63, 241) 0%, rgb(150, 45, 200) 100%);
  font-family: 'Dongle', sans-serif;
  color: #d0d0d0;
}
.app-container{
  display: flex;
  background:linear-gradient(45deg, rgb(63, 63, 241) 0%, rgb(150, 45, 200) 100%);
  width: 50%;
  height: 60vh;
  margin: 5% auto;
  flex-direction: column;
}
.app-titulo{
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding: 5% 0;
  font-style: italic;
  text-decoration: underline 2px wavy;
}
.inputs-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-size: 38px;
}
.select-container{
  display: flex;
  margin: 4% auto;
}
.span{
  margin: auto 0;
}
.num-pedido{
  display: inline-block;
  margin: 0 1rem;
  width: 30%;
  padding: 0.6rem;
  background-color: #15157c;
  color: #d0d0d0;
  text-align: center;
  font-size: 20px;
}
.unidad2{
  margin-left: 1rem;
}
.select{
  padding: 0.6rem;
  background-color: #15157c;
  color: #d0d0d0;
  font-size: 20px;
}
.option{
  background-color: #0d0d5a;
  
}
.calcular-container{
  width: 100%;
  height: 20%;
}
.calcular-btn{
  display: flex;
  margin: auto;
  padding: 2%;
  background-color: #d0d0d0;
  color: #0d0d5a;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
.calcular-btn:hover{
  background-color: #0d0d5a;
  color: #d0d0d0;
  transform: scale(1.2);
  border-radius: 0.5em;
  font-style: italic;
}
.alert{
  background: linear-gradient(45deg, #0d0d5a, #2d2da5);
  font-size: 20px;
  color: #d0d0d0;
  border-radius: 0.5em;

}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo{
  width: 10%;
  margin-bottom: 2%;
}
.footer-text{
  font-size: 20px;
}

/*Clases genericas*/
.border{
  border: none;
  outline: none;
  border-radius: 0.5em;
}